<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests" thread-count="2">

  <test name="Test1">
	<listeners>
        <listener class-name="com.rcc.ecs.test.listener.TestngListenerScreenShot" />
        <listener class-name="com.rcc.ecs.test.listener.RetryListener" />
    </listeners>
    <classes>
        <class name="com.rcc.ecs.test.testcase.login.LoginTest"/>
        <class name="com.rcc.ecs.test.testcase.customermgr.CustomerMgrTest"/>
    </classes>
  </test>
    <listeners>
        <!-- <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>-->
        <listener class-name="com.rcc.ecs.test.listener.ExtentTestNGIReporterListener"/>
    </listeners>
 <!--  <test name="Test2">
	<listeners>
        <listener class-name="seleniumTest.listener.TestngListenerScreenShot" />
    </listeners>
    <classes>
       <class name="seleniumTest.testCase.TestCourseList"/>
    </classes>
  </test> -->
</suite>
